* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.safe-area {
  max-width: 1200px;
  width: 90vw;
  margin-inline: auto;
  min-height: 100vh;
}

.spaced-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content > :not(:last-child) {
  margin-bottom: 2rem;
}

.main-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}
