.works-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 0 5rem;
}

.works-grid > :nth-child(odd) {
  margin-top: 5rem;
}

.works-grid > * {
  width: 100%;
}

.work-item-img {
  width: 100%;
  height: 630px;
  object-fit: cover;
  background-color: black;
}

@media (max-width: 769px) {
  .works-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 0;
  }

  .works-grid > :nth-child(odd) {
    margin-top: 0;
  }
}
